@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import 'reset.css';

:root {
    /* Color palette */
    --color-black: #050505;
    --color-gray-925: #1d1d1d;
    --color-gray-900: #1F1F1F;
    --color-gray-875: #222222;
    --color-gray-800: #444444;
    --color-gray-700: #6a6a6a;
    --color-gray-600: #8f8f8f;
    --color-gray-500: #b4b4b4;
    --color-gray-400: #dadada;
    --color-gray-300: #dadada;
    --color-white: #FAFAFA;
    --color-lime: #9AF130;
    --color-orange: #F2A128;
    --color-magenta: #F1397D;
    --color-cyan: #2BF1DB;

    /* Fonts */
    --font-sans: 'Lato', sans-serif;
}

::selection {
    background-color: var(--color-orange);
    color: var(--color-white);
}

body {
    background-color: var(--color-gray-900);
    color: var(--color-white);
    /* Pushes content below fixed-top navbar */
    padding-top: 5em;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, a, li, span, div {
    color: var(--color-white);
    font-family: var(--font-sans);
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 5.8rem;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

h3 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-weight: 200;
}

.container-content {
    padding: 2rem;
    z-index: 1;
}