@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import 'reset.css';

:root {
    /* Color palette */
    --color-white: #FAFAFA;
    --color-black: #050505;
    --color-gray: #1F1F1F;
    --color-light-gray: #3E4346;
    --color-lime: #9AF130;
    --color-orange: #F2A128;
    --color-magenta: #F1397D;
    --color-cyan: #2BF1DB;

    /* Fonts */
    --font-sans: 'Lato', sans-serif;
}

::selection {
    background-color: var(--color-orange);
    color: var(--color-white);
}

body {
    background-color: var(--color-gray);
    color: var(--color-white);
    /* Pushes content below fixed-top navbar */
    padding-top: 5em;
    overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6, a, li, span, div {
    color: var(--color-white);
    font-family: var(--font-sans);
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 5.8rem;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

h3 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-weight: 200;
}

.container-content {
    padding: 2rem;
    z-index: 1;
}