.navbar-minimal {
  padding-top: 1em;
  background-color: var(--color-gray-900);
}

.navbar-minimal .navbar-brand {
    color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

.navbar-minimal .navbar-brand:hover *,
.navbar-minimal .navbar-brand:focus *{
    color: var(--color-orange);
    background-color: transparent;
}

.navbar-logo {
    width: 1.5em;
    height: 1.5em;
    margin-right: .5em;
}

.navbar-minimal .navbar-text {
    color: var(--color-gray-700);
}

.navbar-minimal .nav-link {
    color: white;
    padding-inline: 1em;
    padding-bottom: .5em;
    padding-top: .5em;
    text-transform: uppercase;
}

.navbar-minimal .nav-link:hover,
.navbar-minimal .nav-link:focus {
    color: var(--color-gray-900);
    background-color: var(--color-cyan);
}

.navbar-minimal .nav-link.active,
.navbar-minimal .nav-link.active:hover,
.navbar-minimal .nav-link.active:focus {
    color: var(--color-cyan);
    background: transparent;
}

.nav-link.disabled,
.nav-link.disabled:hover,
.nav-link.disabled:focus {
    color: var(--color-gray-700);
    background-color: transparent;
}

.navbar-minimal .navbar-toggler {
    border-color: transparent;
}
.navbar-minimal .navbar-toggler:hover,
.navbar-minimal .navbar-toggler:focus {
    color: var(--color-white);
    border-color: transparent;
    background-color: transparent;
}

.navbar-toggler-icon {
  background-color: transparent;
  filter: invert(1);
}

.navbar-minimal .btn-link[disabled]:hover,
fieldset[disabled] .navbar-minimal .btn-link:hover,
.navbar-minimal .btn-link[disabled]:focus,
fieldset[disabled] .navbar-minimal .btn-link:focus {
  color: var(--color-gray-700);
}

.navbar-minimal .nav-user-item {
    padding-left: 3em;
}

.navbar-minimal .nav-user-item a {
    display: flex;
    align-items: center;
    gap: .5em;
}

.navbar-minimal .nav-user-item img {
    width: 1em;
    aspect-ratio: 1/1;
    filter: invert(0);
    transition: 0.2s;
}

.navbar-minimal .nav-user-item:hover img {
    filter: invert(1);
}