
{% load static %}
<link rel="stylesheet" href="{% static 'styles/navbar.css' %}">

<nav class="navbar navbar-expand-lg navbar-minimal fixed-top">
<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img class="navbar-logo" src="{% static 'images/logo-300.png' %}" alt="logo">
            <p>CubeMarket</p>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarNavDropdown">

        <ul class="navbar-nav ms-auto">

            {% if user.is_authenticated %}
            <li class="nav-item ms-auto">
                <a class="nav-link {% if request.path == '/home/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">
                    Home
                </a>
            </li>
            <li class="nav-item ms-auto">
                <a class="nav-link {% if request.path == '/catalog/' %}active{% endif %}" href="{% url 'catalog' %}">
                    Catalog
                </a>
            </li>
            <li class="nav-item ms-auto">
                <a class="nav-link {% if request.path == '/recommendations/' %}active{% endif %}" href="{% url 'recommendations' %}">
                    For You
                </a>
            </li>
            {% endif %}

            {% if user.is_superuser %}
            <li class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item {% if request.path == '/scraping/' %}active{% endif %}" href="{% url 'scraping' %}">Scrape</a></li>
                    <li><a class="dropdown-item" href="/admin">Admin Panel</a></li>
                </ul>
            </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li class="nav-item ms-auto nav-user-item">
                    <a class="nav-link {% if request.path == '/profile/' %}active{% endif %}" href="{% url 'profile' %}">{{ user.get_username }}</a>
                </li>
            {% else %}
                <li class="nav-item ms-auto nav-user-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">
                        Login
                    <img src="{% static 'icons/login-50.png' %}" alt="login">
                    </a>
                </li>
            {% endif %}
          </ul>

    </div>
</div>
</nav>