
{% load static %}
<link rel="stylesheet" href="{% static 'styles/navbar.css' %}">

<nav class="navbar navbar-expand-lg navbar-minimal fixed-top">
<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img class="navbar-logo" src="{% static 'images/logo-300.png' %}" alt="logo">
            <p>CubeMarket</p>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarNavDropdown">

        <ul class="navbar-nav ms-auto">
            <li class="nav-item ms-auto">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item ms-auto">
              <a class="nav-link" href="{% url 'catalog' %}">Catalog</a>
            </li>
            <li class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'scraping' %}">Scrape</a></li>
                    <li><a class="dropdown-item" href="{% url 'search_all' %}">List all</a></li>
                </ul>
            </li> 
          </ul>

    </div>
</div>
</nav>