{% load static %}

<div class="product-card">
    <a class="product-img" href="{% url 'product' item.id %}">
        <img src="{{item.image}}" alt="{{item.name}}"/>
    </a>
    <div class="product-info">
        <div class="product-info-top">
            <a class="product-name" href="{% url 'product' item.id %}">{{item.name}}</a>
            <button class="product-like">
                <img src="{% static 'icons/like-50.png' %}" alt="like">
            </button>
        </div>
        <p class="product-price">{{item.price}} €</p>
    </div>
</div>