{% load static %}

<div class="product-card">
    <a class="product-img" href="{{item.url}}">
        <img src="{{item.image}}" alt="{{item.name}}"/>
    </a>
    <div class="product-info">
        <span class="product-info-top">
            <a class="product-name" href="{{item.url}}">{{item.name}}</a>
            <button class="product-like">
                <img src="{% static 'icons/like-50.png' %}" alt="like">
            </button>
        </span>
        <p class="product-price">{{item.price}} €</p>
    </div>
</div>