{% extends "base.html" %}

{% block head %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock head %}

{% block title %}
Login
{% endblock title %}

{% block content %}

  <h1 class="title">Login</h1>

  {% if form.errors or next %}
  <div class="message">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    {% if next %}
      {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
  </div>
  {% endif %}

  <form class="login-form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td class="form-label" >{{ form.username.label_tag }}</td>
        <td class="form-input" >{{ form.username }}</td>
      </tr>
      <tr>
        <td class="form-label" >{{ form.password.label_tag }}</td>
        <td  class="form-input" >{{ form.password }}</td>
      </tr>
    </table>
    <input class="form-button" type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
    
  </form>

  <div class="extra-section">
    <a class="signup-button" href="{% url 'signup' %}">Signup</a>
  </div>

  {% comment %} <p class="lost-passwd"><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}

{% endblock %}
