{% extends 'base.html' %}

{% block head %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'styles/catalog.css' %}">
{% endblock head %}

{% block title %}
Catalog
{% endblock title %}

{% block content %}

    <h1 class="title">Catalog</h1>

    {% comment %} <hr> {% endcomment %}

    {% include "components/filter_form.html"%}

	<p class="items-found">Found {{num_items}} items</p>

    <div class="catalog-grid">
        {% for item in items %}
            {% include "components/product_card.html" with item=item %}
        {% endfor %}
    </div>

    {% include "components/pagination.html" %}

{% endblock %}