{% extends 'base.html' %}

{% block head %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock head %}

{% block title %}
The Rubiks cube finder
{% endblock title %}

{% block content %}

<section class="hero-section">
	<div class="hero-left-section">
		<h1 class="hero-title">The Rubiks cube finder</h1>
		<p class="hero-text">Satisfy Your Rubik's Cube Addiction. Find the latest and greatest Rubik's Cubes for collectors and speedcubers.</p>
		<button class="hero-button">Search now <img src="{% static 'icons/arrow-50.png' %}" alt="arrow"></button>
	</div>

	<div class="hero-right-section">
		<img class="hero-img" src="{% static 'images/hero.png' %}" alt="hero">
	</div>

</section>

{% endblock %}