{% extends "base.html" %}

{% block head %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
	<link rel="stylesheet" href="{% static 'styles/catalog_grid.css' %}">
{% endblock head %}

{% block title %}
{{ user.username }}
{% endblock title %}

{% block content %}
    <h1 class="title">{{ user.username }}'s Profile</h1>

    {% comment %} {% if user.first_name or user.last_name %}
    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
    {% endif %} {% endcomment %}

    <div class="user-section">
    
        <a class="logout-button" href="{% url 'logout' %}">Logout</a>
    
    </div>

    <div class="items-section">

        <h3>Liked Items</h3>

        <div class="catalog-grid">
            {% for item in liked_items %}
                {% include "components/product_card.html" with item=item %}
            {% endfor %}
        </div>
            
    </div>

{% endblock %}
