<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">

    <title>Document</title>
</head>
<body>

    <h1>Titulo del texto</h1>
    <p class="hero-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, veniam cupiditate saepe commodi pariatur laborum quaerat fuga odit provident. Ipsam error soluta libero nemo placeat enim dicta, aliquid illo possimus.</p>
    
    <h2>Titulo del texto</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maiores unde eum suscipit obcaecati voluptates, dolores aliquam voluptas provident sed ipsam modi possimus eaque hic eos eligendi dolorum, quos voluptatibus.</p>
    
    <h3>Titulo del texto</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam labore temporibus, dicta illo excepturi earum quia odit laudantium numquam consequuntur similique nihil, sapiente consequatur accusantium adipisci repellendus autem voluptatum? Maiores.</p>

</body>
</html>